* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

h1 {
   margin: 40px 100px; 
   font-size: 35px;
}
.currency {
    list-style-type: disk;
    font-size: 20px;
}
ol, li {
    list-style-type: disc;
    margin-left: 75px;
    font-weight: bold;
}
h2 {
    margin: 40px 100px; 
    font-size: 35px;
}

table, td, th {
    border: 2px solid black;
    margin: 50px 100px;
    font-weight: bolder;
    font-size: 20px;
}

th {
    font-size: 25px;
    font-weight: bolder;
}