.post-1 {
    color: white;
    margin-bottom: 40px;
    background-color: #34495e;
    padding: 21px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 20px;
}

.post-2 {
    color: white;
    margin-bottom: 40px;
    padding: 21px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #34495e;
    border-radius: 20px;
}

.post-3 {
    color: white;
    margin-bottom: 40px;
    padding: 21px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #34495e;
    border-radius: 20px; 
}