* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
    font-family: 'Nunito';
    font-style: normal;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    
    position: relative;
    width: 420px;
    height: 426px;

    background: #FFFFFF;
   
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
    border-radius: 20px;
}

.Close {
    width: 388px;
    height: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}

.Close-button {
    /*position: absolute;*/

    width: 24px;
    height: 24px;
    right: 0px;
    top: 0px;
    border: none;
    background-color: #FFFFFF;
    
}


/*section*/
.Regi {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px 16px;
    gap: 24px;

    width: 388px;
    height: 370px;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

h1 {
    width: 356px;
    height: 32px;

    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    
    display: flex;
    align-items: center;
    
    color: #000000;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 356px;
    height: 104px;
   
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input[type=email] {
    border: 1px solid #FFE44D;
    border-radius: 12px;

    box-sizing: border-box;
    width: 356px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 21px 16px 7px;

    background: #FFFFFF;
   
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

/*
.form-control input[type=email] {
    color: #da2121;
}
*/

/*
input[type=email]::-ms-value:focus-visible {
    color: #1A1A1A;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
}
*/


input[type=password] {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    
    width: 356px;
    height: 48px;
   
    background: #FFFFFF;
   
    border: 1px solid #CFD8DC;
    border-radius: 12px;
   
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

p {
    width: 356px;
    height: 42px;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  
    color: #7B8E98;
  
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 356px;
    height: 104px;
  
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

input[type=submit], input[type=button] {
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #1A1A1A;
}

input[type=submit] {
background-color: #FFE44D;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 24px;

width: 356px;
height: 48px;

border: none;
border-radius: 55px;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

input[type=button] {
    box-sizing: border-box;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;

    width: 356px;
    height: 48px;

    border: 1px solid #CFD8DC;
    border-radius: 87px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
    